<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!-- Configuración de destino del log -->
	<targets>
		<!-- Log a archivo -->
		<target name="file" xsi:type="File" fileName="logs/logfile.txt" layout="${longdate} ${level} ${message} ${exception}" />
		<!-- Log a consola (opcional) -->
		<target name="console" xsi:type="Console" layout="${longdate} ${level} ${message} ${exception}" />
	</targets>

	<!-- Configuración de reglas para el log -->
	<rules>
		<!-- Registra mensajes de todos los niveles -->
		<logger name="*" minlevel="Info" writeTo="file,console" />
	</rules>
</nlog>

